@import "partials/base";
@import "partials/normalize";
@import "partials/ie";
@import "partials/typography";
@import "partials/colour";

/*
	Common
*/
.container .inner {
    @include width(4);
    padding: 0 ($font-size + 2)/$em;
    margin: 0 auto;
    @include pie-clearfix;
}

#content {
    p, ul, ol, pre {
        margin-bottom: $line / $em;
    }
    ul {
        list-style: disc;
        padding: 0 0 0 $line / $em;
    }
}

#logo {
  a {
    border: none;   
  }
  img {width: auto; height: ($line*4)/$em;}
}
#site-title {
  margin-bottom: $line/$em;
  h1 {
    @extend .larger;
    font-weight: bold;
    //letter-spacing: -1px;
    //text-transform: uppercase;
    .surname, .middlename {
      font-weight: normal; 
    }
  }
}
#site-header {
  text-align: center;
  border-bottom: 1px solid;
  padding-bottom: ($line*2)/$em;
  margin: ($line*2)/$em 0;
  
  nav {
    ul {
      li {
        display: inline;
        padding: 0;
        margin: 0 0.5em;
      
        a {
          border: none;
        }
      }
    }
  }
}

header#page-header {    
    margin-bottom: $line / $em;
    margin-top: -1px;
    padding-bottom: $line / $em;
    @include split-border('bottom');
    
    p.title-prefix {
        margin: 0;
        color: $highlight-color;
        @extend .large;
    }
    h1 {
        @extend .huge;
    }   
}

#event-list {
    article {
        header {
            a {
                h1, h2 { color: $title-link-color; }
                &:hover { h1, h2 { color: darken($title-link-color, 12%); } }
                
                h1 {}
                h2 {@extend .large;
                    font-weight: normal;}
            }
        }
        
        time {
            color: $highlight-color;
            @extend .small;
        }
        
        .summary {
           p::first-line {
               color: darken($text-color, 10%);
           }
        }
        
        .images {
            @include clearfix;
            margin: (($font-size/2) / $em) 0em;
            height: ($font-size*8) / $em;
        
            ul {
              padding:0;
              list-style-type: none;
              li {
                  width: 100%;
                  float: left;
                  overflow: hidden;
                  img {
                      width: 100%;
                      height: auto;
                  }
               }
           }
        }
    }
}

#tags, #years, #months, #archive-navigation {
  li {
    display: inline;
    &.active {
      a {
        border:none;
        font-weight: bold;
      }
    }
  }
}

#pagination, {
  @extend .small;
  ul, ol {
    margin: 0;
    padding: 0;
    li, ol {
      display: inline;
      li {
        margin-right: 2px;
      }
      &.active {
        font-weight: bold;
        a {
          border: none;
          color: $highlight-color;
        }
      }
    }
    li {
      margin-right: 12px;
    }
    #step-links {
      border-right: 2px solid $secondary-highlight-color;
      padding-right: 23px - 12px;
      margin-right: 23px;
      display: inline;
    }
  }
}

#article-body {
    margin-bottom: $line / $em;
    
    iframe, video, object, embed, img  {
        max-width: 100%;
    }
    
    figure {
        &.full-video, &.full-image {         
            margin: 0;
            margin-bottom: $line / $em;
            
            iframe, video, object, embed, img {
                width: 100%;
                height: ($line*6) / $em;
            }
            img {
                display: block;
                height: auto;
            }
        }
    }
    img {
        width: 100%;
        height: auto;
    }
}

#article-header {
    margin-bottom: $line / $em;
    h1 {@extend .huge;}
    h2 {@extend .larger; font-weight: normal;}
}

#published {
    @include split-border('top');
    @include split-border('bottom');

    position: absolute;
    top: 0;
    width: 100%;
    color: $highlight-color;
    dd, dt {
        display: inline;
        @extend .small;
    }
}

#article-footer {
    @include split-border('top');
    margin-top: -1px;
    padding-top: ($line*1) / $em;
    
    #updated, #tags, #social {
        margin-bottom: ($line*1) / $em;
        dd {
            color: $subtle-color;
        }
        dt {
            font-weight: bold;
            @extend .title;
            @extend .small;
        }
    }
    #updated, #tags {
        dd {@extend .small;}
    }
    
    #social {
       
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        min-height: ($line*2)/$em;
                
        li {
            display: inline-block;
            vertical-align: top;
            margin-right: ($line/2)/$em;        
        }
      }
    }
    
}


#wrapper {
    position: relative;
    padding-top: ($line*2) / $em;  
}


#site-footer {
  margin-top: $line / $em;
  border-top: 1px solid;
  
  .inner {
      padding-top: $line / $em;
  }
  
  ul {
      list-style-type: none;
      
      li {
          display: inline;
          @extend .small;
      }
  }
  
  section, nav {
      margin-bottom: $line / $em;
      h1 {
          @extend .small;
          font-weight: bold;
      }
      p {@extend .small;}
  }
}

/*
	An easy way to zoom your entire layout in or out (as long as it's set in ems).
	Just change the media queries to activate them.
	Assuming your base font-size is 16:
	- the first one zooms out by a factor of (16-2)/16 = 0.875
	- the second one zooms in by a factor of (16+2)/16 = 1.125
*/

@media screen and (max-width: 16.875em) {
	body {
		font-size: ($font-size - 2) / $em;
	}
}

@media screen and (min-width: 32.5em) {
	body {
		font-size: ($font-size + 2) / $em;
	}
}

/*
    Wide mobile layout 480-767 px
*/

@media screen and (min-width: 30em) {
    .container .inner {
        @include width(6);
    }
    
    #article-body figure {
        &.full-video {
            iframe, object, embed {
                height: ($line*12) / $em;
            }
        }
    }
    
    #site-header {
      #logo {
        float: left;
      }
      
      text-align: left;
      #site-title {
        padding-left: $cols2;
        margin: ($line/2)/$em 0 0 0;
      }
      
      nav {
        margin: 0 0 ($line/2)/$em 0;
        padding-left: $cols2;
        ul li {
          margin: 0 1em 0 0;
        }
      }
    }
    
    #site-footer { section, nav {
          @include width(3);
          float: left;
                   
          &#footer-navigation, &#tech {
              padding: 0 $gutter/$em 0 0;
          }
    }}
    
    #article-footer {
        #updated {
            @include width(2);
            float: left;  
        } 
        #tags {
            @include width(3);
            float: left;
        }
        #updated {padding: 0 $gutter/$em 0 0;}
        #social {
            @include width(6);
            float: left;
        }
    }
}

/*
Tablet layout
600-911 px
*/

@media screen and (min-width: 37.5em) {
    .container .inner {
        @include width(8);
    }
    
    #article-list article {
        .summary, hgroup {padding-left: $cols2;}
        .images {height: ($line*8) / $em;}
        time {
            float: left;
            padding-top: 0.3em;
        }
    }
    
    #article-header {
        h1 {@include textscale(68px, 3);}
        h2 {@include textscale(42px, 2);}
    }
    
    #article-body {
      padding-left: $cols2;
      
      figure {
          &.full-video, &.full-image {
            margin-left: -$cols2;
          }
      }
      
    }
    #published {
        top: $line / $em;
        left: 0;
        border: none;
        @include width(2);
        dd, dt {
            display: block;
        }
    }
    #wrapper {
        padding-top: $line / $em;
        @include split-border(top);
    }
    #site-footer { section, nav {
          @include width(4);
    }}
    
    #article-footer {
        #tags {padding: 0 $gutter/$em 0 0;}
    }
    
}

/*
Widescreen layout
912-1887 px
*/
@media screen and (min-width: 57em) {
    .container .inner {
        @include width(12);
    }  
    #article-list article {
        .summary {
            padding-left: $cols3;
            @include width(6);
        }
        hgroup {
            padding-left: $cols3;
        }
        
        .images {
            height: ($line*10) / $em;
        }
    }
    #article-body {
        padding: 0 $cols3;
            
        figure {
            &.full-video, &.full-image {
              margin-left: (-$cols3);
              margin-right: (-$cols3);
            }
        }
    }
    #site-footer { section, nav {
          @include width(6);
    }}
}


