psycopg2==2.4.1
Django==1.4
Markdown==2.1.1
PIL==1.1.7
South==0.7.4
django-taggit==0.9.3
django-taggit-templatetags==0.4.6dev
django-templatetag-sugar==0.1
sorl-thumbnail==11.12
uWSGI==1.1.2
wsgiref==0.1.2


# Tools
ipython
fabric