{% load event_extras %}

<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>{% block title %}Fair Social Green{% endblock %}</title>
    <meta name="description" content="{% block description %}Fair, Social and Green Events{% endblock %}" />

    <link href="{{ STATIC_URL }}build/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed" />
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/icon.png" />

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block head %}{% endblock %}

    {% include "_analytics.html" %}

</head>

<body class="{% block body_class %}{% endblock %}" id="top" lang="da">
<header id="site-header" class="container">

    <div class="inner">
        
        <div id="site-title">
            <a href="{% url index %}">
                <h1>Fair Social Green</h1>
            </a>
        </div>
        
        <nav>
            
            {% get_event_categories as featured_categories %}
            <ul>
                {% for c in featured_categories %}
                    <li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>  
</header>

<div id="main" class="container">

        <div id="content" class="inner">
        {% block content %}
        {% endblock %}
        </div>
</div>

<footer id="site-footer" class="container">
<div class="inner">    
    <nav>
    
    <ul>
        <li><a href="/om/">Om FairSocialGreen</a></li>
        <li><a href="/kontakt/">Kontakt</a></li>
        <li><a href="{% url categories %}">Alle kategorier</a></li>
    </ul>
    
    
        <ul class="user-navigation">
            <li><a href="/a">admin</a></li>
        </ul>
    </nav>
    
</div>
</footer>

</body>
</html>
