/*
    Colours and links
*/

body {
    background: $background-color;
    color: $text-color;
}

h1, h2, h3, h4 {
    color: $title-color;
}

a {
  color: $link-color;
  text-decoration: none;
  border-bottom: 1px solid;
  &:visited {
    color: $link-color;
  }
  &:hover, &:active, &:focus {
    color: darken($link-color, 21%);
    border-bottom: 1px solid;
  }
}

h1, h2, h3, h4, h5, h6, img {
  a {
    text-decoration: none;
    border: none;
    &:hover {
      border: none;
    }
  }
}

::selection {
	background: $link-color;
	color: $background-color;
}
::-moz-selection {
    background: $link-color;
	color: $background-color;
}

img::selection {
	background: transparent;
}
img::-moz-selection {
	background: transparent;
}

body {
	-webkit-tap-highlight-color: lighten($link-color, 50%);
}