{% load thumbnail %}

<article class="event">
    <header>
        
        <figure>
            {% thumbnail object.image "600" as im %}
                <a href="{{ object.get_absolute_url }}">
                    <img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
                </a>
            {% endthumbnail %}
        </figure>
        
        <hgroup>
            <h1><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h1>
            {% if object.subtitle %}
            <h2>{{ object.subtitle }}</h2>
            {% endif %}
        </hgroup>
    </header>
    
    <div class="info">
     <time class="start" datetime="{{ object.start|date:"c" }}">{{ object.start|date }} {{ object.start|time }}</time> 
     <span class="location">{{ object.location }}</span>
    </div>
    
</article>