{% load thumbnail %}

<div class="event-list">
{% if featured %}
<article id="featured-event" class="event">
    <header>
        <figure>
            {% thumbnail featured.image "945" crop="center" as im %}
                <a href="{{ featured.get_absolute_url }}">
                    <img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
                </a>
            {% endthumbnail %}
        </figure>
        
        <hgroup>
            <h1><a href="{{ featured.get_absolute_url }}">{{ featured.title }}</a></h1>
            {% if featured.subtitle %}
            <h2>{{ featured.subtitle }}</h2>
            {% endif %}
        </hgroup>
    </header>
    
    <div class="info">
      <time class="start" datetime="{{ featured.start|date:"c" }}">{{ featured.start|date }} kl. {{ featured.start|time }}</time>
     
      <span class="location">{{ featured.location }}</span>
    </div>
    
</article>
{% endif %}

{% if future %}
    {% for object in future %}
        {% include "events/_event.html" %}
    {% endfor %}
{% else %}
    {% if not featured %}
    <p class="info message">Der er ingen events planlagt lige nu, kom tilbage igen snart.</p>
    {% endif %}
{% endif %}

</div>
