@import url(http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic,700italic&v2);
@import url(http://fonts.googleapis.com/css?family=Varela&v2);

@import "compass/css3/border-radius";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/utilities/general/clearfix";

//
// Configuration
//

$font-size: 16px; 	// Your base font-size in pixels
$em: $font-size / 1em;	// Shorthand for outputting ems
$line: 24px;
$column: 48px;	// The column-width of your grid in pixels
$gutter: 24px;	// The gutter-width of your grid in pixels

//
// Column-widths in variables, in ems
//

 $cols1: ( 1 * ($column + $gutter) - $gutter) / $em;
 $cols2: ( 2 * ($column + $gutter) - $gutter) / $em;
 $cols3: ( 3 * ($column + $gutter) - $gutter) / $em;
 $cols4: ( 4 * ($column + $gutter) - $gutter) / $em;
 $cols5: ( 5 * ($column + $gutter) - $gutter) / $em;
 $cols6: ( 6 * ($column + $gutter) - $gutter) / $em;
 $cols7: ( 7 * ($column + $gutter) - $gutter) / $em;
 $cols8: ( 8 * ($column + $gutter) - $gutter) / $em;
 $cols9: ( 9 * ($column + $gutter) - $gutter) / $em;
$cols10: (10 * ($column + $gutter) - $gutter) / $em;
$cols11: (11 * ($column + $gutter) - $gutter) / $em;
$cols12: (12 * ($column + $gutter) - $gutter) / $em;
$cols13: (13 * ($column + $gutter) - $gutter) / $em;
$cols14: (14 * ($column + $gutter) - $gutter) / $em;
$cols15: (15 * ($column + $gutter) - $gutter) / $em;
$cols16: (16 * ($column + $gutter) - $gutter) / $em;



//
// Column-widths in a function, in ems
//

@mixin width ($cols:1) {
	width: ($cols * ($column + $gutter) - $gutter) / $em;
}

//
// Colours and style
//

$background-color: #ffffff;
$title-link-color: #545aa7;
$link-color: #0067a5;
$text-color: #2e3436;
$highlight-color: #ce5c00;
$secondary-highlight-color: #A7A154;
$subtle-color: lighten($text-color, 20%);
$title-color: #000000;
$split-border-style: dotted;

@mixin pad-text-column($left:$cols2, $right:0) {
 p, h1, h2, h3, h4, h5, h6, quote, cite, small, .video, .image {
   padding: 0 $right 0 $left;
 } 
}

@mixin split-border($side:bottom) {
    border-style: $split-border-style;
    border-color: $secondary-highlight-color;
    border-#{$side}-width: 1px;
}


