@import "partials/base";
@import "partials/normalize";
@import "partials/ie";
@import "partials/typography";
@import "partials/colour";

/*
	Common
*/
.container .inner {
    @include width(4);
    padding: 0 ($font-size + 2)/$em;
    margin: 0 auto;
    @include pie-clearfix;
}

#content {
    p, ul, ol, pre {
        margin-bottom: $line / $em;
    }
    ul {
        list-style: disc;
        padding: 0 0 0 $line / $em;
    }
}

#logo {
  a {
    border: none;   
  }
  img {width: auto; 
    height: ($line*4)/$em;}
}


.event {
  @include clearfix();
  
  h1, h2 {
    a {
      color: $title-color;
      &:hover {
        color: $title-link-color;
      }
    }
  }
  
  
  header {
    figure {
      margin-bottom: ($line/2)/$em;
      img {
        @include border-radius(6px);
        display: block;
        width: 100%;
        height: auto;
        
      }
    }
    
    hgroup {
      h1 {
        text-transform: uppercase;
      }
    }
    
  }
  
  .info {
    @extend .small;
    font-style: italic;
    color: $subtle-color;
    time, .location {
      margin-right: 0.5em;
    }
    .location {
      border-left: 1px solid $subtle-color; 
      padding-left: 0.5em;
    }
  }
  
  .summary {
    margin-bottom: ($line/2)/$em;
  }
  
  margin-bottom: $line/$em;
}

#featured-event {
  margin-bottom: ($line*2)/$em;
}

#site-title {
  margin-bottom: $line/$em;
  h1 {
    @extend .larger;
    font-weight: bold;
  }
}
#site-header {
  text-align: center;
  border-bottom: 1px solid;
  padding-bottom: ($line*2)/$em;
  margin: ($line*2)/$em 0;
  
  nav {
    ul {
      li {
        display: inline;
        padding: 0;
        margin: 0 0.5em;
      
        a {
          border: none;
        }
      }
    }
  }
}

header#page-header {    
    margin-bottom: $line / $em;
    margin-top: -1px;
    padding-bottom: $line / $em;
    @include split-border('bottom');
    
    p.title-prefix {
        margin: 0;
        color: $highlight-color;
        @extend .large;
    }
    h1 {
        @extend .huge;
    }   
}

#wrapper {
    position: relative;
    padding-top: ($line*2) / $em;  
}

#site-footer {
  margin-top: $line / $em;
  border-top: 1px solid;
  
  .inner {
      padding-top: $line / $em;
  }
  
  ul {
      list-style-type: none;
      
      li {
          display: inline;
          @extend .small;
      }
  }
  
  section, nav {
      margin-bottom: $line / $em;
      h1 {
          @extend .small;
          font-weight: bold;
      }
      p {@extend .small;}
  }
}

/*
	An easy way to zoom your entire layout in or out (as long as it's set in ems).
	Just change the media queries to activate them.
	Assuming your base font-size is 16:
	- the first one zooms out by a factor of (16-2)/16 = 0.875
	- the second one zooms in by a factor of (16+2)/16 = 1.125
*/

@media screen and (max-width: 16.875em) {
	body {
		font-size: ($font-size - 2) / $em;
	}
}

@media screen and (min-width: 32.5em) {
	body {
		font-size: ($font-size + 2) / $em;
	}
}

/*
    Wide mobile layout 480-767 px
*/

@media screen and (min-width: 30em) {
    .container .inner {
        @include width(6);
    }
    
    #site-header {
      #logo {
        float: left;
      }
      
      text-align: left;
      #site-title {
        padding-left: $cols2;
        margin: ($line/2)/$em 0 0 0;
      }
      
      nav {
        margin: 0 0 ($line/2)/$em 0;
        padding-left: $cols2;
        ul li {
          margin: 0 1em 0 0;
        }
      }
    }
    
}

/*
Tablet layout
600-911 px
*/

@media screen and (min-width: 37.5em) {
    .container .inner {
        @include width(8);
    }
    
    #events .event {
      
      figure {
        width: $cols3;
        float: left;
        padding-right: $gutter/$em;
        
      }
      
      .summary {
        padding-left: $cols3 + $gutter/$em;
      }
      
    }
    
    #wrapper {
        padding-top: $line / $em;
        @include split-border(top);
    }
    #site-footer { section, nav {
          @include width(4);
    }}
    
    #article-footer {
        #tags {padding: 0 $gutter/$em 0 0;}
    }
    
}

/*
Widescreen layout
912-1887 px
*/
@media screen and (min-width: 57em) {
    .container .inner {
        @include width(12);
    }  
    #article-list article {
        .summary {
            padding-left: $cols3;
            @include width(6);
        }
        hgroup {
            padding-left: $cols3;
        }
        
        .images {
            height: ($line*10) / $em;
        }
    }
    #article-body {
        padding: 0 $cols3;
            
        figure {
            &.full-video, &.full-image {
              margin-left: (-$cols3);
              margin-right: (-$cols3);
            }
        }
    }
    #site-footer { section, nav {
          @include width(6);
    }}
}


