{% extends 'base.html' %}
{% load markup %}
{% load thumbnail %}
{% block title %}Events organiseret af {{ organizer }}{% endblock %}
{% block description %}{{ organizer.description|striptags|truncatewords:32 }}{% endblock %}

{% block content %}

    <header id="page-header">   
        
        {% if user.is_staff %}
            <ul class="object-admin-navigation">
                <li><a href="{% url admin:events_organizer_change organizer.id %}">edit</a></li>
            </ul>
        {% endif %}
        
        <figure>
            {% thumbnail organizer.logo "200x200" as im %}
                <img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
            {% endthumbnail %}
        </figure>
        
        <h1>{{ organizer.title }}</h1>
        {% if organizer.description %}
            <p>{{ organizer.description|markdown }}</p>
        {% endif %}
    
    </header>
    
    <h2>Aktuelle events</h2>
    {% include "events/_list.html" %}

    
    <aside>
    <h2>Embed events</h2>
    <p>Kopier nedenstående kode for at vise nye events på dit eget website</p>
    <textarea editable="false">&lt;iframe src=&quot;{{ request.META.HTTP_HOST }}{% url organizer_embed organizer.slug %}&quot; width=&quot;200&quot; height=&quot;150&quot; seamless&gt;&lt;/iframe&gt;
    </textarea>
    </aside>
    
    <hr>
    
    
    
    

{% endblock %}