{% extends 'base.html' %}
{% load markup %}

{% block title %}Events organiseret af {{ organizer }}{% endblock %}
{% block description %}{{ organizer.description|striptags|truncatewords:32 }}{% endblock %}

{% block body_class %}event-list future{% endblock %}

{% block content %}

    <header id="page-header">    
        {% if user.is_staff %}
            <ul class="object-admin-navigation">
                <li><a href="{% url admin:events_organizer_change organizer.id %}">edit</a></li>
            </ul>
        {% endif %}
        
        <h1>{{ organizer.title }}</h1>
        {% if organizer.description %}
            <p>{{ organizer.description|markdown }}</p>
        {% endif %}
    </header>
    
    <h2>Aktuelle events</2>
    {% include "events/_list.html" %}

{% endblock %}